<!DOCTYPE html>
<html>
  <head>
    <title>Markov Text Generator</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h2>Markov Text Generator</h2>
    <form action="/generate" method="post">
      <label for="num_sentences">Number of Sentences:</label>
      <input type="number" id="num_sentences" name="num_sentences" required />
      <input type="submit" value="Generate" />
    </form>
    <h2>Upload Text Files for Training:</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="files[]" multiple />
      <input type="submit" value="Upload and Retrain" />
    </form>
    <br /><br />

    {% if sentences %}
    <h3>Generated Text:</h3>
    <textarea id="sentences" name="sentences" readonly>
{{ sentences|join('\n') }}</textarea
    >
    <form action="/save" method="post">
      <input
        type="hidden"
        name="sentences"
        value="{{ sentences|join('\n') }}" />
      <input type="submit" value="Save to File" />
    </form>
    {% endif %}
  </body>
</html>
